<main>

  <app-nav-bar />

  <section class="expression-section">
    <div class="container">
      <div class="question">
        <h1>
          Postfix expression
        </h1>
        <p>An postfix expression (also called Reverse Polish Notation) is a single letter or an operator, preceded by
          two
          postfix strings. Every postfix string longer than a single variable contains first and second operands
          followed
          by an operator.e.g. A,A B +,A B + C D -.</p>
        <form #ExpressionForm="ngForm" (ngSubmit)=evaluate(ExpressionForm.value)>
          <br><br>

          <p>Postfix expression(*Only numbers )</p>
          <input type="text" name="expression" ngModel>
          <br><br>
          <p>Result</p>
          <input type="text" readonly name="result" [ngModel]="result" ngModel>
          <br><br>

          <button class="primary-btn" type="submit">Solve</button>
        </form>
      </div>
      <div class="history">
        <h1>History</h1>

      </div>
      <div class="steps" *ngIf="flag">
        <div class="contents">
          <h1>Steps</h1>
          <ul>
            <!-- <li class="step-card" *ngFor="let step of steps">{{ step }}</li> -->
            <li *ngFor="let step of steps; let i = index">
              <h3>Step {{ i + 1 }}</h3>
              <div class="step-card">
                {{ step }}
                <p></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



</main>