<main>
    <app-nav-bar></app-nav-bar>
    <section class="login">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <h1>Login</h1><br>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="example@gmail.com" ngModel>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="XXXXXX" ngModel>

            <button class="primary-btn" type="submit">Login</button>
        </form>
    </section>
</main>